/* Intro Block Section */

.intro-hdr {
	background: #164b8e;
    display: table;
    padding: 30px 10px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4em;
}

.intro-hdr .intro-hdr-inner {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.intro-hdr .intro-hdr-inner h1 {
	margin: auto;
    color: #fff;
}

.intro-hdr .intro-hdr-inner h3 {
	margin: 0.5em auto 0;
    color: #fff;
    font-weight: 300;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	background-color: #164b8e;
	border-color: #164b8e;
}

blockquote {
	border: 5px solid #eeeeee;
    background-color: #fbfbfb;
    font-weight: bold;
    margin: 2em auto;
    text-align: center;
}

.section.level1 {
	margin-top: 7em;
}

.section h1 {
	border-left: 5px solid #eee;
	font-size: 32px;
	margin-bottom: 0.75em;
	position: relative;
	line-height: 1em;
    background-color: #fafafa;
    padding: 16px;
}

.section h3 {
	font-size: 18px;
	font-weight: 800;
	margin-top: 1.5em;
}

.section h5 {
	text-decoration: underline;
    margin-top: 2em;
}

.section p, .section ul, .section ol {
	font-size: 14px;
    line-height: 2em;
}

.section hr {
	margin: 2em auto 4em;
}

.table {
	border: 1px solid #ddd;
}

.table caption {
	color: #333;
	font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
}

.section.level5.tabbed-pane img {
	border: 1px solid #eee;
}

.nav-pills > li {
	border: 1px solid #2296f3;
    border-radius: 5px;
}